.rflGrowChildFlex { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.rflGrowChildFlex > * { -webkit-box-flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative;}

.rflGrowChildFlex > .rflExpandChild { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.rflGrowChildFlex > .rflExpandChild > * { -webkit-box-flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative;}

.rflGrowChildFlex > .rflExpandChild > .rflExpandChild { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.rflGrowChildFlex > .rflExpandChild > .rflExpandChild > * { -webkit-box-flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative;}


.rflGrowChildStatic > * { display: block !important; width: 100%; height: 100%; }

.rflGrowChildStatic > .rflExpandChild > * { display: block !important; width: 100%; height: 100%; }

.rflGrowChildStatic > .rflExpandChild > .rflExpandChild > * { display: block !important; width: 100%; height: 100%; }

.rflFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.rflFlexHorizontal {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rflFlexVertical {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rflJustifyContent_flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.rflJustifyContent_flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.rflJustifyContent_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rflJustifyContent_baseline {
  -webkit-box-pack: baseline;
  -webkit-justify-content: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
}

.rflJustifyContent_stretch {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.rflAlignSelf_flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.rflAlignSelf_flex-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.rflAlignSelf_center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.rflAlignSelf_baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.rflAlignSelf_stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
