.appLayoutGrowChildFlex { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.appLayoutGrowChildFlex > * { -webkit-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; position: relative;}

.appLayoutGrowChildFlex > .reactFlexboxLayoutExpandChild { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.appLayoutGrowChildFlex > .reactFlexboxLayoutExpandChild > * { -webkit-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; position: relative;}

.appLayoutGrowChildFlex > .reactFlexboxLayoutExpandChild > .reactFlexboxLayoutExpandChild { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important; }
.appLayoutGrowChildFlex > .reactFlexboxLayoutExpandChild > .reactFlexboxLayoutExpandChild > * { -webkit-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; position: relative;}


.appLayoutGrowChildStatic > * { display: block !important; width: 100%; height: 100%; }

.appLayoutGrowChildStatic > .reactFlexboxLayoutExpandChild > * { display: block !important; width: 100%; height: 100%; }

.appLayoutGrowChildStatic > .reactFlexboxLayoutExpandChild > .reactFlexboxLayoutExpandChild > * { display: block !important; width: 100%; height: 100%; }

.appLayoutVendoredFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
